<!DOCTYPE html>
<html>
  <head>
    <title>{{label}}</title>
    {{>head}}
  </head>
  <body>
    <div data-role="page">
      <div data-role="header">
        {{>home}}
        <h1>{{label}}</h1>
        {{#page_config.can_change}}
        <a href="{{rt}}/categories/{{id}}/edit" data-icon="edit" data-transition="flip">
          Edit
        </a>
        {{/page_config.can_change}}
      </div>
      <div role="main" class="ui-content">
          <h1>{{label}}</h1>
          <table>
            <tr>
              <th>Name</th>
              <td>{{name}}</td>
            </tr>
            <tr>
              <th>Description</th>
              <td>{{description}}</td>
            </tr>
          </table>
          <ul data-role="listview" data-inset="true">
            <li data-icon="bullets"><a href="{{rt}}/categories/{{id}}/observations">View Observations</a></li>
          </ul>
      </div>
    </div>
  </body>
</html>
