<!DOCTYPE html>

<html><!-- manifest="insideoutside.appcache" -->
  <head>
    <title>Inside/Outside Project</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="manifest" href="manifest.json">
    {{>head}}
  </head>
  <body>
    <div data-role="page" class="ui-page">
      <div data-role="header">
        <h1>Inside/Outside Project</h1>
      </div>
      <div role="main" class="ui-content">
        <p>Hello, world!</p>
        <ul data-role="listview" data-inset="true">
          <li data-role="list-divider">Tools</li>
          <li data-icon="plus"><a href="{{rt}}/observations/new">Add Observation</a></li>
          <li data-icon="grid"><a href="{{rt}}/observations/">All Observations</a></li>
          <li data-icon="bullets"><a href="{{rt}}/categories/">Image Categories</a></li>
          <li data-role="list-divider">Help</li>
          <li data-icon="action">
            <a href="https://tensorflow.wq.io">Project Info</a>
          </li>
        </ul>
      </div>
      <p class="footer">
        insideoutside v{{version}}
        &bull;
        Powered by <a href="https://wq.io/">wq</a>
      </p>
    </div>
  </body>
</html>
